.dashboard-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: blueviolet;
}
.dashboard-menubar{
    width: 20rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
}
.menu-container{
    width: 90%;
    height: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(71, 71, 71);
    color: white;
}
.menu-buttons{
    list-style-type: none;
}
.hr{
    color: white;
    width: 100%;
    height: .5rem;
}
.dashboard-content{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
}
.dashboard-sec{
    width: 100%;
    height: 100vh;
    background-color: blue;
}
.student-sec{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 136, 245);
}
.courses-sec{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 245, 172);
}
.teachers-sec{
    width: 100%;
    height: 100vh;
    background-color: rgb(16, 219, 9);
}
