.dashboard-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: blueviolet;
}
.dashboard-menubar{
    width: 20rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
}
.menu-container{
    width: 90%;
    height: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(71, 71, 71);
    color: white;
}
.menu-buttons{
    list-style-type: none;
}
.hr{
    color: white;
    width: 100%;
    height: .5rem;
}
.dashboard-content{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
}
.dashboard-sec{
    width: 100%;
    height: 100rem;
    /* background-color: blue; */
}
.dashboard-count{
    width: 100%;
    height: 11rem;
    justify-content: center;
    align-items: center;
}
.count-box{
    float: left;
    width: 21%;
    height: 7.5rem;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.count-logo{
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 15px;
    float: left;
    margin-left: 0.8rem;
    margin-top: -1.5rem;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
#logo-b{
    background-color: rgb(196, 53, 77) ;
}
#logo-c{
    background-color: rgb(133, 180, 56) ;
}
#logo-d{
    background-color: rgb(138, 62, 189) ;
}
.count-discription{
    float: right;
    color: rgb(97, 97, 97);
    font-size: 1rem;
    font-weight: 500;
    margin: .5rem 0.5rem 0rem 0rem;
}
.data-count{
    float: right;
    font-size: xx-large;
    font-weight: 600;
    color: black;
}
/* ----------------------------------------------------------------------------------------- */

.table-div{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    /* background-color: brown; */
}


/* --------------------------------------------------------------------- */
.course-detail{
    width: 100%;
    height: 33rem;
    /* background-color: red; */
    padding: .5rem;

}
.course-sec{
    width: 55%;
    height: 85%;
    float: left;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.activity-heighlight{
    width: 38%;
    height: 95%;
    padding: 1rem;
    margin: 1rem;
    float: left;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.overview-content{
    width: 10%;
    height: 85%;
    float: left;
    /* background-color: blue; */
    font-size: large;
}
.overview-text{
    width: 88%;
    height: 85%;
    float: right;
    /* background-color: blueviolet; */
}
.overview-info,.overview-infob{
    width: 100%;
    height: 3.8rem;
    /* background-color: aqua; */
}
.overview-texth{
    font-weight: 700;
}
.overview-textd{
    font-weight: 600;
    color: rgb(129, 129, 129);
}
.vl {
    border-left: 3px solid rgb(82, 82, 82);
    height: 2rem;
    margin-left: 0.5rem;
    margin-top: 2px;
  }

/* -------------------------------------------- */
.student-sec{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 136, 245);
}
.courses-sec{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 245, 172);
   
}
.teachers-sec{
    width: 100%;
    height: 100vh;
    background-color: rgb(16, 219, 9);
}
/* --------------------------------------------------------------------------------------------------- */

.graph-section{
    width: 100%;
    height: 30rem;
    margin-top: 2rem;
    /* background-color: brown; */
    /* padding: 1rem; */
}
.chart-a{
    width: 90%;
    margin-left: 5%;
    margin-top: -1.2rem;
    height: 16rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color:rgb(255, 236, 236);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chart-a-text{
    float: left;
    margin-left: 10%;

}
.graph-a,.graph-b,.graph-c{
    width: 31.5%;
    float: left;
    border-radius: 20px;
    height: 22rem;
    margin: .5rem;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}


/* --------------------------------------------------------------- */
@media screen and (max-width:1200px){
    .dashboard-menubar{
        display: none;
    }
    .dashboard-count{
        width: 100%;
        height: 30rem;

    }
    .count-box{
        width: 46.5%;
        height: 10rem;
        margin: .5rem;
      
    }
    .graph-a,.graph-b,.graph-c{
        width: 31.5%;
    }
  

}
@media screen and (max-width:929px){
    .dashboard-sec{
        width: 100%;
        height: 190rem;
    }
    .course-detail{
        width: 100%;
        height: 65rem;
    }
    .course-sec{
        width: 95%;
        height: 40%;
    }
    .activity-heighlight{
        width: 95%;
        height: 50%;
    }
    .graph-section{
        /* width: 100%; */
        height: 77rem;
    }
    .graph-a,.graph-b,.graph-c{
        width: 60%;
        margin-left: 22vw;
    }
    .chart-a{
        width: 80%;
        margin-left: 10%;
    }
    

}


@media screen and (max-width:769px){
    .dashboard-sec{
        width: 100%;
        height: 180rem;
    }
    .course-detail{
        width: 100%;
        height: 65rem;
    }
    .course-sec{
        width: 95%;
        height: 40%;
    }
    .activity-heighlight{
        width: 95%;
        height: 50%;
    }

    .overview-content{
        width: 10%;
        height: 80%;
        /* font-size: large; */
    }
    .overview-text{
        width: 88%;
        height: 80%;
    }
    .overview-info,.overview-infob{
        width: 100%;
        height: 2.8rem;
    }
    .vl {
        height: 1.2rem;
        margin-left: 0.5rem;
        margin-top: 2px;
      }
      .graph-section{
        /* width: 100%; */
        height: 77rem;
    }
    .graph-a,.graph-b,.graph-c{
        width: 85%;
        margin-left: 3rem;

    }
    

}

@media screen and (max-width:580px){
    .dashboard-sec{
        width: 100%;
        height: 200rem;
    }
    .course-sec{
        width: 95%;
        height: 40%;

    }
    .activity-heighlight{
        width: 95%;
        height: 50%;
    }
    .course-detail{
        width: 100%;
        height: 60rem;
    }
    .dashboard-count{
        width: 100%;
        height: 50rem;
        padding: 1rem;

    }
    .count-box{
        width: 90%;
        height: 10rem;
        margin: .5rem;
      
    }
    .graph-a,.graph-b,.graph-c{
        width: 95%;
        margin-left: 0.6rem;

    }
    .chart-a{
        width: 90%;
        margin-left: 5%;
    }
    


}